@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
*{
	  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
body{
	padding: 0;
	margin: 0;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: #333;
}
h2{
	font-weight: 400;
	text-transform: uppercase;
	margin-left: 1%;
}

.container{
	max-width: 1190px;
	width: 100%;
	margin: auto;
	padding: 10px 25px;
}
.product{
	display: inline-block;
	width: 23%;
	margin: 0 1%;
	padding: 1%;
	border: solid 1px #fff;
	border-radius: 5px;
	background-color: #fff;
	color: #333;
	vertical-align: top;
	text-align: center;
	margin-bottom: 15px;
	.salePrice{
		color: #e74c3c;
	}
	.badDeal{
		color: #e74c3c;
	}
	.okDeal{
		color: #f1c40f;
	}
	.goodDeal{
		color: #2ecc71;
	}
}

#header{
	background-color: #333;
	nav{
		img{
			height: 30px;
		}
	}
}
#xboxOne{
	background-color: #107c10;
	text-align: justify;
	.regularPrice{
		color: #107c10;
	}
}
#ps4{
	background-color: #0068bf;
	.regularPrice{
		color: #0068bf;
	}
}
#wiiU{
	background-color: #00beff;
	.regularPrice{
		color: #00beff;
	}
}
#xbox360{
	background-color: rgb(162, 200, 67);
	.regularPrice{
		color: rgb(162, 200, 67);
	}
}
#ps3{
	background-color: rgb(83, 148, 237);
	.regularPrice{
		color: rgb(83, 148, 237);
	}
}
#wii{
	background-color: #0096c8;
	.regularPrice{
		color: #0096c8;
	}
}